#instructions{
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}
.infop{
	text-align: center;
}
.hide {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 4s, opacity 4s linear;
}